---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<h1>Hello, friend!</h1>
<p>My name is Antti, nice to meet you! I'm a web developer and an advocate for open web from Finland. In this <em>rarely needed</em> blog of mine I tend to write random notes about computers, programming, guitars and other ways of making noise mostly for myself, but I welcome you to browse through or even subscribe to the RSS feed!</p>
<p>Excuse the mess here. I've moved this blog from Jekyll to WP and now to Eleventy and it looks like at some point in the journey images and links in the older posts have broken. I'll fix them… someday.</p>

<section>
  <h2>Writings</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</section>
