---
layout: layouts/home.njk
---

<h1>Now</h1>

<p>This is a <a href="https://nownownow.com/about">now</a> page. In a nutshell this is what's up with me and my life right <em>now</em>.</p>

<h2>What's up</h2>

<p>
  I'm living in cold and dark Finland, happily married and our family consists of a one year old toddler with extremely fast feet and two russian blue cats. We bought our first real house a while ago and are still learning how everything works.
</p>

<p>
  I work at <a href="https://futurice.com">Futurice</a> as a more senior web developer, acting usually in a tech lead role in various client projects. Most of my days are still spent writing and reading code, although there is a growing amount of meetings that tend to creep up when more architectural planning work is required.
</p>

<p>
  I still consider myself a host of two podcasts even though the release cadence of new episodes has slowed to a crawl. <a href="https://webbidevaus.fi">Webbidevaus</a> is about web development, <a href="https://retropelipodcast.com">Retropelipodcast</a> is about retro gaming (I'm extremely clever with names, as you can probably tell).
</p>

<h2>What I'm learning</h2>

<ul>
  <li>Elixir</li>
</ul>

<h2>What I'm watching</h2>

<ul>
  <li>Nothing right now!</li>
</ul>

<h2>What I'm playing</h2>

<ul>
  <li>Fortnite</li>
  <li>Just started Zelda: Skyward Sword HD</li>
</ul>

<p>
  Updated 9. Jan 2024
</p>
