<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    <style>
      :root {
        --text: rgba(0, 0, 0, 0.9);
        --background: white;
        --link: #2570eb;
        --hr: rgba(0, 0, 0, 0.08);
      }
      @media (prefers-color-scheme: dark) {
        :root {
        --text: white;
        --background: rgba(0, 0, 0, 0.9);
        --link: #97bfff;
        --hr: rgb(85, 85, 85);
        }
      }
      body {
        color: var(--text);
        background: var(--background);
        margin: 1rem auto;
        max-inline-size: 40rem;
        padding: 1rem;
        font: 1.1rem/1.5 -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
      }
      h1 {
        line-height: 1.2;
      }
      h2, h3 {
        line-height: 1.4;
      }
      a, a:visited {
        color: var(--link);
      }
      hr {
        border: 0;
        background: var(--hr);
        block-size: 3px;
      }
      picture, img {
        max-inline-size: 100%;
        block-size: auto;
      }
      .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        block-size: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        inline-size: 1px;
      }
      nav ul, footer ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
        align-items: center;
      }
      nav li:has(svg[data-role=logo]) {
        line-height: 0;
      }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
  <footer>
    <hr />
    <p>
      <small>
        Catch me on:
        <a href="https://mastodon.social/@anttti">Mastodon</a>
        <a href="https://github.com/anttti">Github</a>
      </small>
    </p>
  </footer>
</html>
